$main_sub: #FFEA78;
$main: #FFD808;
$main_hover: #EDC907;

$blue_bg: #F0F6FB;
$blue_bg_2: #ECF0F3;
$blue: #94C6F8;
$blue_hover: #1976D2;

$red: #F43939;

$grey_0: #eee;
$grey_1: #f3f3f3;
$grey_2: #d9d9d9;
$grey_3: #a0a3a9;
$grey_4: #636466;
$grey_5: #222;